
.middsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/Background_img.png');
    background-size: cover;
    padding: 20px;
   
}

.menu-container {
    width: 70%;
    max-width: 500px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    position: relative; 
    background: url('/rectangle%116_img.png') no-repeat center center;
}
.menu-title {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff; 
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}


.menu-container::before {
    content: "";
    position: absolute;
    top: -30px; 
    left: -30px;
    width: 80px;
    height: 100px;
    background: url('/image 39  1_img.png') no-repeat center center;
    background-size: contain;
    opacity: 0.8;
}


.menu-container::after {
    content: "";
    position: absolute;
    bottom: -30px; 
    right: -30px;
    width: 80px; 
    height: 80px;
    background: url('/cocktail1 1_img.png') no-repeat center center;
    background-size: contain;
    opacity: 0.8;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}


.item-left h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #ffffff;
}

.item-left p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}


.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffd700; 
}

.menu-item::before {
    content: url('/cocktail-icon.png'); 
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
