.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logo img {
    width: 50px; 
    height: auto;
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.deep {
    color: #007bff; 
}

.net {
    color: white; 
}

.soft {
    color: gray; 
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #fafafa;
    font-size: 15px;
}

.navbar .active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.navbar li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar li:hover {
    color: #007bff;
}